<div class="flex flex-col items-center">
  <div class="max-w-6xl w-full"> <!-- Centering and width control container -->
    <h1 class="flex justify-start text-2xl font-medium tracking-tight text-center p-4">
      Today's Offers
    </h1>
    <div class="flex flex-col sm:flex-row justify-center mb-10">
      <div class="p-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img
            class="w-full"
            src="./assets/images/snow.jpg"
            alt="Skiing in Boulder, CO"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Colorado Vacations</div>
            <p class="text-gray-700 text-base">
              Seek to experience everything unique from untamed wilderness to rich culture.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <button
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >
              Book Today!
            </button>
          </div>
        </div>
      </div>

      <div class="p-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img
            class="w-full"
            src="./assets/images/insurance.jpg"
            alt="Sunset in the mountains"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Insurance for your trips</div>
            <p class="text-gray-700 text-base">
              Protect your jaw-dropping experiences with Allianz Trip Insurance.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <a href="https://www.allianz.com/en.html">
              <button
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >
                Learn more about Allianz
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="p-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img
            class="w-full"
            src="./assets/images/redcross.jpg"
            alt="Man driving a Red Cross van"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Donate with the Red Cross</div>
            <p class="text-gray-700 text-base">
              Support the Red Cross relief efforts and earn bonus miles.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <a href="https://www.redcross.org/">
              <button
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >
                Learn more about the Red Cross
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
